body {
	background: #f6f6f6;
	color: #666666;
	font-family:"Georgia", sans-serif;
	font-size: 12pt;
}

.navbar {
	background: #737373;
	margin-bottom: 90px;
}

.navbar-toggle {
	margin-right: 30px;
}

.nav li a {
	text-align: center;
	font: normal 12pt "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#inner-container {
	margin-top: 60px;
}


#top-container li a {
	color: white;
	font-size: 14.5px;
	letter-spacing: .1em;
}

#top-container li a:hover {
	color: #D3D3D3;
}

.navbar-brand {
	margin-left: 10px !important;
	margin-top: 10px;
}

.img-responsive {
    margin: 0 auto;
}


.container-fluid{
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}



#row1 div div {
	height: 200px;
}

#row2 div div {
	height: 110px;
}

#row3 div div {
	height: 170px;
}

#row4 div div {
	height: 260px;
}

#navbar {
		padding-right: 20px !important;
		padding-top: 10px;
}

h1{
	color: #7fc5e6;
	font: bold 18pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	text-transform: uppercase;
}

h2{
	color: #333333;
	font: bold 10.5pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	text-transform: uppercase;
}

h3 {
	color: #7fc5e6;
	font: bold 14pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	text-transform: uppercase;
}

a {
	color: #b0b0b0;
	text-decoration: none;
}

a:hover{color: #7fc5e6;}


#about, #clients, #services, #services2, #partners, #contact, #footer{
	background: #f6f6f6;
	border-bottom: solid 1px #eeeeee;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 40px;
  text-align: center;

}
#about, #clients, #partners, #contact{
	border-top: solid 1px #eeeeee;
}

#about, #clients, #services, #partners, #contact {padding-bottom: 60px;}
#contact {margin-bottom: 80px;}

.slide{
  margin-top: 8px;
	width: 100% !important;
	height: 100% !important;

}

.sectionNumber{
	background: #7fc5e6;
	border-bottom: solid 1px #6ea9c5;
	color: #ffffff;
	margin: 0 0 0 0px;
	padding: 5px 10px 5px 20px;
	text-transform: uppercase;
}

.innerSectionNumber{
	width: 24px;
	border-radius: 24px 24px 24px 24px;
	background: gray;
	font: bold "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: small;
}

#carousel-container {

	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.serviceContainer {
	background: white;
	border: 1px solid;
	border-color: #E5E5E4;
	margin-bottom: 20px;
}

.textFormat {
	text-align: left;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
}

.aboutContainer {
	background: white;
	border: 1px solid;
	border-color: #E5E5E4;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	max-width: 520px;
}

.aboutUpper {
	max-width: 520px;

}

.selected {
	color: #7fc5e6 !important;
}

#buttonContainer {
	padding-left: 15px;
	padding-right: 15px;
}

#bigButton {
	background: #c0e2f2;
	border: solid 1px #7fc5e6;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font: bold 18pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18pt;
	margin: 0;
	padding: 45px 20px;
	text-align: center;
	text-transform: uppercase;
}

#bigButton:hover {
	background: #7fc5e6;
	border: solid 1px #7fc5e6;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font: bold 18pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18pt;
	margin: 0;
	padding: 45px 20px 60px;
	text-align: center;
	text-transform: uppercase;
}

.partnerContainer {
	padding-top: 18px;
	background: white;
	border: 1px solid;
	border-color: #E5E5E4;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;

}

.clientContainer {
	padding-top: 18px;
	background: white;
	border: 1px solid;
	border-color: #E5E5E4;
	margin-bottom: 20px;
}

#footer{
	border-top: solid 1px #cccccc;
	color: #999999;
	text-align: center;
}

#whatWeDo{
	background: white;
	border: 1px solid;
	border-color: #E5E5E4;
}

.alignLeft {
	text-align: left;
}

.textStyle {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}


#dwellTek {
	text-align: left !important;
}

@media screen and (max-width: 990px)
{
	#row1 .serviceContainer {
		height: 170px !important;
	}

	#row2 .serviceContainer {
		height: 100px;
	}

	#row3 .serviceContainer {
		height: 148px;
	}

	#row4 .serviceContainer {
		height: 230px;
	}
}


@media screen and (max-width: 501px)
{
	body p {
		text-align: center !important;
	}
}
