/*TODO: photoshop slides onto background and replace images with the result*/


@font-face{
	font-family: Gotham;
	src: local('☺'),
			 url('../_lib/fonts/gotham/Gotham-Medium.eot') format('eot'),
			 url('../_lib/fonts/gotham/Gotham-Medium.woff') format('woff'),
			 url('../_lib/fonts/gotham/Gotham-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: Gotham;
	src: local('☺'),
			 url('../_lib/fonts/gotham/Gotham-Bold.eot') format('eot'),
			 url('../_lib/fonts/gotham/Gotham-Bold.woff') format('woff'),
			 url('../_lib/fonts/gotham/Gotham-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

body{
	background: #f6f6f6;
	color: #666666;
	font: normal 10pt "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.navbar {
	background: #737373;
	margin-bottom: 90px;
}


#inner-container {
	margin-top: 60px;
	padding-left: 0px;
	padding-right: 0px;
}


#top-container li a {
	color: white;
	font-size: 14.5px;
	letter-spacing: .1em;
}

#top-container li a:hover {
	color: #D3D3D3;
}

.navbar-brand {
	margin-left: 10px !important;
	margin-top: 10px;
}

.img-responsive {
    margin: 0 auto;
}

.slide {
	width: 100% !important;
	height: 100% !important;
}

.container-fluid{
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#row1 #row2 #row3 #row4 {
	height: 70px;
}

#navbar {
		padding-right: 20px !important;
		padding-top: 10px;
}

h1{
	color: #7fc5e6;
	font: bold 18pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	text-transform: uppercase;
}
h2{
	color: #333333;
	font: bold 10.5pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	text-transform: uppercase;
}
h3{
	color: #7fc5e6;
	font: bold 14pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	text-transform: uppercase;
}
a{
	color: #b0b0b0;
	text-decoration: none;
}
a:hover{color: #7fc5e6;}


#about, #clients, #services, #services2, #partners, #contact, #footer{
	background: #f6f6f6;
	border-bottom: solid 1px #eeeeee;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
	text-align: center;

}
#about, #clients, #partners, #contact{
	border-top: solid 1px #eeeeee;
}

#about, #clients, #services, #partners, #contact{padding-bottom: 60px;}
#contact{margin-bottom: 100px;}

#carousel-container {

	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.carousel {
	margin-right: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px;
	padding-left: 0px;
}

.slide{
	margin-left: 0px;
	margin-right: 0px;
	padding-right:0px;
	padding-left: 0px;
}

/*TODO: split section number into two divs, one for number one for title*/
.sectionNumber{
	background: #7fc5e6;
	border-bottom: solid 1px #6ea9c5;
	color: #ffffff;
	margin: 0 0 0 0px;
	padding: 5px 10px 5px 20px;
	text-transform: uppercase;
}

.innerSectionNumber{
	width: 24px;
	border-radius: 24px 24px 24px 24px;
	background: gray;
	font: bold "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: small;
}


/*TODO: figure out how to fill the container row with this div, maybe
with a static div?? or maybe jsut define height as a constant since that wont matter as much with fluidityt */
.serviceContainer {
	background: white;
	border: 1px solid;
	border-color: #E5E5E4;

	height: 140px;
	margin-bottom: 20px;
}

.aboutContainer {
	background: white;
	border: 1px solid;
	border-color: #E5E5E4;
	padding-left: 5px;
	padding-right: 5px;
	height: 140px;
	margin-bottom: 20px;
	width: 420px;
	margin-right: auto;
	margin-left: auto;
}

.number {
	margin-left: -30px;
	margin-top: -30px;
}

.selected {
	color: #7fc5e6 !important;
}

#buttonContainer {
	padding-left: 15px;
	padding-right: 15px;
}

#bigButton {
	background: #c0e2f2;
	border: solid 1px #7fc5e6;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font: bold 18pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18pt;
	margin: 0;
	padding: 45px 20px;
	text-align: center;
	text-transform: uppercase;
}

#bigButton:hover {
	background: #7fc5e6;
	border: solid 1px #7fc5e6;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font: bold 18pt "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18pt;
	margin: 0;
	padding: 45px 20px;
	text-align: center;
	text-transform: uppercase;
}

.partnerContainer {
	padding-top: 18px;
	background: white;
	border: 1px solid;
	border-color: #E5E5E4;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;

}

.clientContainer {
	padding-top: 18px;
	background: white;
	border: 1px solid;
	border-color: #E5E5E4;
	margin-bottom: 20px;
}

#footer{
	border-top: solid 1px #cccccc;
	color: #999999;
	text-align: center;
}

.alignLeft {
	text-align: left;
}
